@charset "UTF-8";

body {
    background-color: #eaffc9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #3E885B;
}
#principal {
    text-align: center;
    background-color: #3E885B;
    color: white;
}
h2 {
    color: #FF9000;
}
p {
    text-align: justify;
    color: #3C362A;
}
.basico {
   color: #3E885B;
}
.intermediario {
    color: #88833e;
}
.avancado {
    color: #883e3e;
}