@charset "UTF-8";
:root {
    --font1: #0A0908;
    --font2: #add8e6;
    --font3: #688691;
    --font4: #17323C;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--font3);
}

header {
    background-color: var(--font2);
    padding: 20px;
    margin-bottom: 10px;
}

header > h1 {
    color: var(--font1);
    text-align: center;
    padding: 10px;
}

span#burguer {
    display: block;
    color: white;
    background-color: #484848;
    text-align: center;
    padding: 10px;
}

span#burguer:hover {
    cursor: pointer;
    background-color: var(--font4);
}

menu {
    display: none;
    margin: auto;
}

menu.visivel {
    display: block;
}

li {    
    padding: 2px;
    list-style-type: none;
    text-align: center;
}

li > a {
    display: block;
    text-decoration: none;
    background-color: var(--font3);
    color: var(--font1);
    padding: 10px;
    transition-duration: 0.5s;
}

a:hover {
    background-color: var(--font4);
    color: white;
}

main {
    background-color: var(--font4);
    width: 90vw;    
    margin: auto;
    color: white;
    padding: 20px;
    border-radius: 10px
}

article > h2, p {
    margin-bottom: 15px;
    text-align: justify;
}