@charset "UTF-8";

@media only screen and (max-width: 570px) {
  header {
    flex-flow: column nowrap;
    transition: width 1s;
  }

  header > nav {
    display: flex;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      max-height 1s ease,
      opacity .5s ease;
  }

  header > h1 {
    flex: 0 0 50px;
  }

  header > span.material-symbols-outlined {
    display: block;
    text-align: center;
    background-color: rgb(62, 62, 62);
    color: white;
    width: 90vw;
    padding: 10px;

    border-radius: 5px;
    cursor: pointer;
    user-select: none;
  }

  header > nav.visivel {
    max-height: 500px;
    opacity: 1;
  }

  header > nav > a {
    width: 90vw;
  }
}
