@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: darkgray;
  min-height: 100vh;
}
header {
  background-color: black;
  color: white;
  text-align: center;
}
header > h1 {
  font-variant: small-caps;
  padding-top: 50px;
}
header > p {
  padding-bottom: 50px;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  line-height: 2em;
}
section.normal {
  background-color: white;
  color: black;
}
section.imagem {
  background-color: rgb(50, 50, 50);
  color: white;
}
section.imagem > p {
  background-color: rgba(0, 0, 0, 0.349);
  width: 400px;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}
footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
